=box-shadow()
	-webkit-box-shadow: 2px 3px 13px -5px rgba(50,50,50,0.68)
	-moz-box-shadow:    2px 3px 13px -5px rgba(50,50,50,0.68)
	box-shadow:         2px 3px 13px -5px rgba(50,50,50,0.68)

.body
	background-color: #EEE

.app
	padding-top: 30px

	.jumbotron,
	.breadcrumb
		background-color: #E7F1FC
		+box-shadow