@import 'partials/colors'
@import 'partials/fonts'
@import 'mixins/box-shadow'

@import 'partials/breadcrumb'
@import 'partials/musicShow'
@import 'partials/music'

body
	background-color: $dark
	font-family: $font

	.top
		background-color: $black
		text-align: center
		padding: 30px
		margin-bottom: 40px

		h3
			color: $pink
			margin-top: 0px

		p
			color: white
			margin-bottom: 0px

.app
	.jumbotron
		background-color: $dark
		border: none
		box-shadow: none !important
		+box-shadow