<div class="music">
	<div class="row jumbotron">
		<div class="col-md-12 text-center">
			<h3>
		  		{{ value.track_title }}
		  	</h3>
		</div>
	    <div class="col-md-12">
	    	<div data-ng-href="#/show/{{ key }}" class="thumbnail">
	      		<img data-ng-src="{{value.track_image_file}}" onerror="this.style.display='none'">
	    	</div>
	    </div>
	  	<div class="col-md-12">
			<p>Artist: <a data-ng-href="{{ value.artist_url }}" target="_blank">{{ value.artist_name }}</a></p>

		  	<p>Album: <a data-ng-href="{{ value.album_url }}" target="_blank">{{ value.album_title }}</a></p>
		  	
		  	<p>Duration: {{ value.track_duration }}min</p>
	
			<p>Published: {{ value.track_date_published }}</p>
	  	</div>
	  	<div class="col-md-12">
	    	<p><a class="btn btn-pink btn-lg" data-ng-href="{{ value.track_file_url }}" role="button">Download</a></p>
	    </div>
	</div>
</div>